.weather-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba(241, 241, 241, 0.46);
    padding: 20px 0;
}

.weather-icon{
    height: 100px;
    width: 100px;
}

.weather-icon img{
    height: 100%;
}

.weather-state{
    font-size: 1.1rem;
}